<p id="notice"><%= notice %></p>

<h1>What's new on the Site?</h1>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4">
      <div class=""><strong><%= post.postable.name %></strong>: <%= post.postable.description %></div>
    </div>
  <% end %>
</div>