/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
    font-size:15px;
}

body a{
    color:#cf3727;
}

body a:hover{
    color:#b42a25;
}

.brand{
    max-width: 360px;
    margin: 2px 0 5px;
}

.top-nav .nav{
    margin-top:40px;
}

.top-nav {
    border-top: 5px solid #b42a25;
    border-bottom: 30px solid #981b1f;
}

.jumbotron-red-background{
    background-color: #cf3727;
    color: white;
    z-index: 0;
    
    .container{
        text-align: center;
    }
    h1{
        font-size:84px;
    }
    p{
        font-size:32px;
    }
}
